.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2vh;
}

.productSubtitle {
    color: #bebfc2;
    font-size: 15px;
    font-weight: lighter;
    margin:0;
}

.subtitleDiv{
    width:90%;
}
.productImage {
    width: 8rem;
}

.productTitle {
    margin: 1rem;
}

